USE [master]
GO
/****** Object:  Database [TP Libreria]    Script Date: 3/11/2025 10:31:57 ******/
CREATE DATABASE [TP Libreria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP Libreria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP Libreria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP Libreria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP Libreria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP Libreria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP Libreria]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Genero] [varchar](100) NULL,
	[Edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdVenta] [int] NOT NULL,
	[IdLibro] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[IdGenero] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Autor] [varchar](100) NOT NULL,
	[IdGenero] [int] NOT NULL,
	[Precio] [float] NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[HashedPassword] [varchar](100) NOT NULL,
	[Rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdVendedor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Genero], [Edad]) VALUES (1, N'Juan', N'Hombre', 29)
GO
INSERT [dbo].[Genero] ([IdGenero], [Descripcion]) VALUES (2, N'Satira')
INSERT [dbo].[Genero] ([IdGenero], [Descripcion]) VALUES (3, N'Comedia')
INSERT [dbo].[Genero] ([IdGenero], [Descripcion]) VALUES (4, N'Terror')
GO
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [Autor], [IdGenero], [Precio], [Stock]) VALUES (1, N'El quijote de la mancha', N'Cervantes', 4, 1000, 9)
GO
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [HashedPassword], [Rol]) VALUES (1, N'Juan', N'cf80cd8aed482d5d1527d7dc72fceff84e6326592848447d2dc0b0e87dfc9a90', 1)
GO
/****** Object:  StoredProcedure [dbo].[AltaCliente]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaCliente]
    @Nombre VARCHAR(100),
    @Genero VARCHAR(100),
    @Edad INT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdCliente), 0) + 1 FROM Cliente;

    INSERT INTO Cliente (IdCliente, Nombre, Genero, Edad)
    VALUES (@NuevoId, @Nombre, @Genero, @Edad);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaDetalleVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaDetalleVenta]
    @IdVenta INT,
    @IdLibro INT,
    @Cantidad INT,
    @PrecioUnitario FLOAT
AS
BEGIN
    INSERT INTO DetalleVenta (IdVenta, IdLibro, Cantidad, PrecioUnitario)
    VALUES (@IdVenta, @IdLibro, @Cantidad, @PrecioUnitario);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaGenero]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaGenero]
    @Descripcion VARCHAR(100)
AS
BEGIN
	DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdGenero), 0) + 1 FROM Genero;
    INSERT INTO Genero (IdGenero, Descripcion)
    VALUES (@NuevoId, @Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaLibro]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaLibro]
    @Titulo VARCHAR(100),
    @Autor VARCHAR(100),
    @IdGenero INT,
    @Precio FLOAT,
    @Stock INT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdLibro), 0) + 1 FROM Libro;

    INSERT INTO Libro (IdLibro, Titulo, Autor, IdGenero, Precio, Stock)
    VALUES (@NuevoId, @Titulo, @Autor, @IdGenero, @Precio, @Stock);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaUsuario]
    @Nombre VARCHAR(100),
    @HashedPassword VARCHAR(100),
    @Rol INT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdUsuario), 0) + 1 FROM Usuario;

    INSERT INTO Usuario (IdUsuario, Nombre, HashedPassword, Rol)
    VALUES (@NuevoId, @Nombre, @HashedPassword, @Rol);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaVenta]
    @Fecha DATETIME,
    @IdCliente INT,
    @IdVendedor INT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdVenta), 0) + 1 FROM Venta;

    INSERT INTO Venta (IdVenta, Fecha, IdCliente, IdVendedor)
    VALUES (@NuevoId, @Fecha, @IdCliente, @IdVendedor);
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaCliente]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaCliente]
    @IdCliente INT
AS
BEGIN
    DELETE FROM Cliente
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaDetalleVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaDetalleVenta]
    @IdVenta INT,
    @IdLibro INT
AS
BEGIN
    DELETE FROM DetalleVenta
    WHERE IdVenta = @IdVenta AND IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaGenero]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaGenero]
    @IdGenero INT
AS
BEGIN
    DELETE FROM Genero
    WHERE IdGenero = @IdGenero;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaLibro]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BajaLibro]
    @IdLibro INT
AS
BEGIN
    DELETE FROM Libro
    WHERE IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaUsuario]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaUsuario]
    @IdUsuario INT
AS
BEGIN
    DELETE FROM Usuario
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaVenta]
    @IdVenta INT
AS
BEGIN
    DELETE FROM Venta
    WHERE IdVenta = @IdVenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[FiltrarLibros]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarLibros]
    @Titulo VARCHAR(100) = NULL,
    @Autor VARCHAR(100) = NULL,
    @IdGenero INT = NULL,
    @PrecioMin FLOAT = NULL,
    @PrecioMax FLOAT = NULL
AS
BEGIN
    SELECT IdLibro, Titulo, Autor, IdGenero, Precio, Stock
    FROM Libro
    WHERE (@Titulo IS NULL OR Titulo LIKE '%' + @Titulo + '%')
      AND (@Autor IS NULL OR Autor LIKE '%' + @Autor + '%')
      AND (@IdGenero IS NULL OR IdGenero = @IdGenero)
      AND (@PrecioMin IS NULL OR Precio >= @PrecioMin)
      AND (@PrecioMax IS NULL OR Precio <= @PrecioMax);
END;
GO
/****** Object:  StoredProcedure [dbo].[FiltrarVentasPorCliente]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarVentasPorCliente]
    @IdCliente INT = NULL,
    @NombreCliente VARCHAR(100) = NULL
AS
BEGIN
    SELECT v.IdVenta, v.Fecha, v.IdCliente, c.Nombre AS NombreCliente, v.IdVendedor
    FROM Venta v
    INNER JOIN Cliente c ON v.IdCliente = c.IdCliente
    WHERE (@IdCliente IS NULL OR v.IdCliente = @IdCliente)
      AND (@NombreCliente IS NULL OR c.Nombre LIKE '%' + @NombreCliente + '%')
    ORDER BY v.Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[FiltrarVentasPorLibro_Unico]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarVentasPorLibro_Unico]
    @Titulo VARCHAR(100) = NULL,
    @Autor VARCHAR(100) = NULL,
    @CantidadMin INT = NULL,
    @CantidadMax INT = NULL
AS
BEGIN
    SELECT DISTINCT
        v.IdVenta,
        v.Fecha,
        v.IdCliente,
        v.IdVendedor
    FROM Venta v
    INNER JOIN DetalleVenta dv ON v.IdVenta = dv.IdVenta
    INNER JOIN Libro l ON dv.IdLibro = l.IdLibro
    WHERE (@Titulo IS NULL OR l.Titulo LIKE '%' + @Titulo + '%')
      AND (@Autor IS NULL OR l.Autor LIKE '%' + @Autor + '%')
      AND (@CantidadMin IS NULL OR dv.Cantidad >= @CantidadMin)
      AND (@CantidadMax IS NULL OR dv.Cantidad <= @CantidadMax)
    ORDER BY v.Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarCliente]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarCliente]
AS
BEGIN
    SELECT * FROM Cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarDetalleVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarDetalleVenta]
    @IdVenta INT = NULL
AS
BEGIN
    IF @IdVenta IS NULL
        SELECT * FROM DetalleVenta;
    ELSE
        SELECT * FROM DetalleVenta WHERE IdVenta = @IdVenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarGenero]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarGenero]
AS
BEGIN
    SELECT * FROM Genero;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarLibro]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarLibro]
AS
BEGIN
    SELECT L.IdLibro, L.Titulo, L.Autor, L.Precio, L.Stock, 
       G.IdGenero, G.Descripcion AS GeneroDescripcion
FROM Libro L
JOIN Genero G ON L.IdGenero = G.IdGenero
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuario]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarUsuario]
AS
BEGIN
    SELECT * FROM Usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarVenta]
AS
BEGIN
    SELECT * FROM Venta;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionCliente]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionCliente]
    @IdCliente INT,
    @Nombre VARCHAR(100),
    @Genero VARCHAR(100),
    @Edad INT
AS
BEGIN
    UPDATE Cliente
    SET Nombre = @Nombre,
        Genero = @Genero,
        Edad = @Edad
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionDetalleVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionDetalleVenta]
    @IdVenta INT,
    @IdLibro INT,
    @Cantidad INT,
    @PrecioUnitario FLOAT
AS
BEGIN
    UPDATE DetalleVenta
    SET Cantidad = @Cantidad,
        PrecioUnitario = @PrecioUnitario
    WHERE IdVenta = @IdVenta AND IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionGenero]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionGenero]
    @IdGenero INT,
    @Descripcion VARCHAR(100)
AS
BEGIN
    UPDATE Genero
    SET Descripcion = @Descripcion
    WHERE IdGenero = @IdGenero;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionLibro]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificacionLibro]
    @IdLibro INT,
    @Titulo VARCHAR(100),
    @Autor VARCHAR(100),
    @IdGenero INT,
    @Precio FLOAT,
    @Stock INT
AS
BEGIN
    UPDATE Libro
    SET Titulo = @Titulo,
        Autor = @Autor,
        IdGenero = @IdGenero,
        Precio = @Precio,
        Stock = @Stock
    WHERE IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionUsuario]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionUsuario]
    @IdUsuario INT,
    @Nombre VARCHAR(100),
    @HashedPassword VARCHAR(100),
    @Rol INT
AS
BEGIN
    UPDATE Usuario
    SET Nombre = @Nombre,
        HashedPassword = @HashedPassword,
        Rol = @Rol
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionVenta]    Script Date: 3/11/2025 10:31:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionVenta]
    @IdVenta INT,
    @Fecha DATETIME,
    @IdCliente INT,
    @IdVendedor INT
AS
BEGIN
    UPDATE Venta
    SET Fecha = @Fecha,
        IdCliente = @IdCliente,
        IdVendedor = @IdVendedor
    WHERE IdVenta = @IdVenta;
END;
GO
USE [master]
GO
