USE [master]
GO
/****** Object:  Database [TP Libreria]    Script Date: 26/11/2025 16:27:27 ******/
CREATE DATABASE [TP Libreria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TP Libreria', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP Libreria.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TP Libreria_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TP Libreria_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TP Libreria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TP Libreria]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[IdCliente] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Genero] [varchar](100) NULL,
	[Edad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cupon]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cupon](
	[IdCupon] [int] NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Valor] [float] NOT NULL,
	[Activo] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdVenta] [int] NOT NULL,
	[IdLibro] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [float] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genero]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genero](
	[IdGenero] [int] NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Libro]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[IdLibro] [int] NOT NULL,
	[Titulo] [varchar](100) NOT NULL,
	[Autor] [varchar](100) NOT NULL,
	[IdGenero] [int] NOT NULL,
	[Precio] [float] NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[HashedPassword] [varchar](100) NOT NULL,
	[Rol] [int] NOT NULL,
	[IntentosRestantes] [int] NOT NULL,
 CONSTRAINT [PK__Usuario__5B65BF97005C9F09] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdVendedor] [int] NOT NULL,
	[IdCupon] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Genero], [Edad]) VALUES (1, N'Juan', N'Hombre', 29)
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Genero], [Edad]) VALUES (2, N'Viktor', N'Hombre', 50)
INSERT [dbo].[Cliente] ([IdCliente], [Nombre], [Genero], [Edad]) VALUES (3, N'Juan Pérez', N'Hombre', 34)
GO
INSERT [dbo].[Cupon] ([IdCupon], [Codigo], [Valor], [Activo]) VALUES (1, N'10OFF', 10, 1)
INSERT [dbo].[Cupon] ([IdCupon], [Codigo], [Valor], [Activo]) VALUES (2, N'100', 100, 1)
INSERT [dbo].[Cupon] ([IdCupon], [Codigo], [Valor], [Activo]) VALUES (3, N'200OFF', 200, 1)
GO
INSERT [dbo].[DetalleVenta] ([IdVenta], [IdLibro], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 2, 1000)
INSERT [dbo].[DetalleVenta] ([IdVenta], [IdLibro], [Cantidad], [PrecioUnitario]) VALUES (2, 1, 1, 1000)
INSERT [dbo].[DetalleVenta] ([IdVenta], [IdLibro], [Cantidad], [PrecioUnitario]) VALUES (3, 6, 1, 10000)
GO
INSERT [dbo].[Genero] ([IdGenero], [Descripcion]) VALUES (2, N'Satira')
INSERT [dbo].[Genero] ([IdGenero], [Descripcion]) VALUES (3, N'Comedia')
INSERT [dbo].[Genero] ([IdGenero], [Descripcion]) VALUES (4, N'Terror')
GO
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [Autor], [IdGenero], [Precio], [Stock]) VALUES (1, N'El quijote de la mancha', N'Cervantes', 4, 1000, 4)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [Autor], [IdGenero], [Precio], [Stock]) VALUES (2, N'Cien años de soledad', N'Gabriel García Márquez', 19, 15000, 7)
INSERT [dbo].[Libro] ([IdLibro], [Titulo], [Autor], [IdGenero], [Precio], [Stock]) VALUES (3, N'1984', N'George Orwell', 6, 12000, 5)
GO
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [HashedPassword], [Rol], [IntentosRestantes]) VALUES (1, N'Juan Cruz', N'896815006b5e2d59d8cacc71832d72a9dee108ca73fc6f16c9425e9188455122', 1, 3)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [HashedPassword], [Rol], [IntentosRestantes]) VALUES (2, N'Admin', N'c1c224b03cd9bc7b6a86d77f5dace40191766c485cd55dc48caf9ac873335d6f', 1, 3)
INSERT [dbo].[Usuario] ([IdUsuario], [Nombre], [HashedPassword], [Rol], [IntentosRestantes]) VALUES (3, N'Jose', N'e17caade1b433e8af34d0142b329a72cf3c36a2eb94d53b64b61d4d70d1231e6', 2, 3)
GO
INSERT [dbo].[Venta] ([IdVenta], [Fecha], [IdCliente], [IdVendedor], [IdCupon]) VALUES (1, CAST(N'2025-11-24T21:27:31.530' AS DateTime), 1, 3, NULL)
INSERT [dbo].[Venta] ([IdVenta], [Fecha], [IdCliente], [IdVendedor], [IdCupon]) VALUES (3, CAST(N'2025-11-25T17:25:42.080' AS DateTime), 13, 3, NULL)
INSERT [dbo].[Venta] ([IdVenta], [Fecha], [IdCliente], [IdVendedor], [IdCupon]) VALUES (2, CAST(N'2025-11-24T21:27:43.880' AS DateTime), 2, 3, 2)
GO
/****** Object:  StoredProcedure [dbo].[AltaCliente]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaCliente]
    @Nombre VARCHAR(100),
    @Genero VARCHAR(100),
    @Edad INT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdCliente), 0) + 1 FROM Cliente;

    INSERT INTO Cliente (IdCliente, Nombre, Genero, Edad)
    VALUES (@NuevoId, @Nombre, @Genero, @Edad);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaCupon]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AltaCupon]
    @Codigo NVARCHAR(50),
    @Valor float,
    @Activo BIT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = coalesce(MAX(IdCupon), 0) + 1 FROM Cupon;

    INSERT INTO Cupon (IdCupon, Codigo, Valor, Activo)
    VALUES (@NuevoId, @Codigo, @Valor, @Activo);
END
GO
/****** Object:  StoredProcedure [dbo].[AltaDetalleVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaDetalleVenta]
    @IdVenta INT,
    @IdLibro INT,
    @Cantidad INT,
    @PrecioUnitario FLOAT
AS
BEGIN
    INSERT INTO DetalleVenta (IdVenta, IdLibro, Cantidad, PrecioUnitario)
    VALUES (@IdVenta, @IdLibro, @Cantidad, @PrecioUnitario);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaGenero]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaGenero]
    @Descripcion VARCHAR(100)
AS
BEGIN
	DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdGenero), 0) + 1 FROM Genero;
    INSERT INTO Genero (IdGenero, Descripcion)
    VALUES (@NuevoId, @Descripcion);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaLibro]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaLibro]
    @Titulo VARCHAR(100),
    @Autor VARCHAR(100),
    @IdGenero INT,
    @Precio FLOAT,
    @Stock INT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdLibro), 0) + 1 FROM Libro;

    INSERT INTO Libro (IdLibro, Titulo, Autor, IdGenero, Precio, Stock)
    VALUES (@NuevoId, @Titulo, @Autor, @IdGenero, @Precio, @Stock);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaUsuario]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaUsuario]
    @Nombre VARCHAR(100),
    @HashedPassword VARCHAR(100),
    @Rol INT,
	@IntentosRestantes INT
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = ISNULL(MAX(IdUsuario), 0) + 1 FROM Usuario;

    INSERT INTO Usuario (IdUsuario, Nombre, HashedPassword, Rol, IntentosRestantes)
    VALUES (@NuevoId, @Nombre, @HashedPassword, @Rol, @IntentosRestantes);
END;
GO
/****** Object:  StoredProcedure [dbo].[AltaVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AltaVenta]
    @Fecha DATETIME,
    @IdCliente INT,
    @IdVendedor INT,
	@IdCupon INT = NULL
AS
BEGIN
    DECLARE @NuevoId INT;
    SELECT @NuevoId = Coalesce(MAX(IdVenta), 0) + 1 FROM Venta;

    INSERT INTO Venta (IdVenta, Fecha, IdCliente, IdVendedor, IdCupon)
    VALUES (@NuevoId, @Fecha, @IdCliente, @IdVendedor, @IdCupon);
	select @NuevoId as IdVenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaCliente]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaCliente]
    @IdCliente INT
AS
BEGIN
    DELETE FROM Cliente
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaCupon]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BajaCupon]
    @IdCupon INT
AS
BEGIN
    DELETE FROM Cupon
    WHERE IdCupon = @IdCupon;
END
GO
/****** Object:  StoredProcedure [dbo].[BajaDetalleVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaDetalleVenta]
    @IdVenta INT,
    @IdLibro INT
AS
BEGIN
    DELETE FROM DetalleVenta
    WHERE IdVenta = @IdVenta AND IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaGenero]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaGenero]
    @IdGenero INT
AS
BEGIN
    DELETE FROM Genero
    WHERE IdGenero = @IdGenero;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaLibro]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[BajaLibro]
    @IdLibro INT
AS
BEGIN
    DELETE FROM Libro
    WHERE IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaUsuario]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaUsuario]
    @IdUsuario INT
AS
BEGIN
    DELETE FROM Usuario
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[BajaVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BajaVenta]
    @IdVenta INT
AS
BEGIN
    DELETE FROM Venta
    WHERE IdVenta = @IdVenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[FiltrarLibros]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarLibros]
    @Titulo VARCHAR(100) = NULL,
    @Autor VARCHAR(100) = NULL,
    @IdGenero INT = NULL,
    @PrecioMin FLOAT = NULL,
    @PrecioMax FLOAT = NULL
AS
BEGIN
    SELECT IdLibro, Titulo, Autor, IdGenero, Precio, Stock
    FROM Libro
    WHERE (@Titulo IS NULL OR Titulo LIKE '%' + @Titulo + '%')
      AND (@Autor IS NULL OR Autor LIKE '%' + @Autor + '%')
      AND (@IdGenero IS NULL OR IdGenero = @IdGenero)
      AND (@PrecioMin IS NULL OR Precio >= @PrecioMin)
      AND (@PrecioMax IS NULL OR Precio <= @PrecioMax);
END;
GO
/****** Object:  StoredProcedure [dbo].[FiltrarVentasPorCliente]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarVentasPorCliente]
    @IdCliente INT = NULL,
    @NombreCliente VARCHAR(100) = NULL
AS
BEGIN
    SELECT v.IdVenta, v.Fecha, v.IdCliente, c.Nombre AS NombreCliente, v.IdVendedor
    FROM Venta v
    INNER JOIN Cliente c ON v.IdCliente = c.IdCliente
    WHERE (@IdCliente IS NULL OR v.IdCliente = @IdCliente)
      AND (@NombreCliente IS NULL OR c.Nombre LIKE '%' + @NombreCliente + '%')
    ORDER BY v.Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[FiltrarVentasPorLibro_Unico]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FiltrarVentasPorLibro_Unico]
    @Titulo VARCHAR(100) = NULL,
    @Autor VARCHAR(100) = NULL,
    @CantidadMin INT = NULL,
    @CantidadMax INT = NULL
AS
BEGIN
    SELECT DISTINCT
        v.IdVenta,
        v.Fecha,
        v.IdCliente,
        v.IdVendedor
    FROM Venta v
    INNER JOIN DetalleVenta dv ON v.IdVenta = dv.IdVenta
    INNER JOIN Libro l ON dv.IdLibro = l.IdLibro
    WHERE (@Titulo IS NULL OR l.Titulo LIKE '%' + @Titulo + '%')
      AND (@Autor IS NULL OR l.Autor LIKE '%' + @Autor + '%')
      AND (@CantidadMin IS NULL OR dv.Cantidad >= @CantidadMin)
      AND (@CantidadMax IS NULL OR dv.Cantidad <= @CantidadMax)
    ORDER BY v.Fecha DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[IntentosRestantes]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IntentosRestantes]
@Nombre nvarchar(50)
AS
BEGIN

	SELECT IntentosRestantes as IntentosRestantes from Usuario where Nombre = @Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarCliente]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarCliente]
AS
BEGIN
    SELECT * FROM Cliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarCupon]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarCupon]
AS
BEGIN
    SELECT * FROM Cupon;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarDetalleVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarDetalleVenta]
    @IdVenta INT
AS
BEGIN
    SELECT 
        DV.IdVenta,
        DV.IdLibro,
        DV.Cantidad,
        DV.PrecioUnitario,
        L.IdLibro,
        L.Titulo,
        L.Autor,
        L.Precio AS PrecioLibro,
        L.Stock,
        G.IdGenero,
        G.Descripcion AS GeneroDescripcion

    FROM DetalleVenta DV
    INNER JOIN Libro L ON DV.IdLibro = L.IdLibro
    INNER JOIN Genero G ON L.IdGenero = G.IdGenero
    WHERE DV.IdVenta = @IdVenta;
END
GO
/****** Object:  StoredProcedure [dbo].[ListarGenero]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarGenero]
AS
BEGIN
    SELECT * FROM Genero;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarLibro]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarLibro]
AS
BEGIN
    SELECT L.IdLibro, L.Titulo, L.Autor, L.Precio, L.Stock, 
       G.IdGenero, G.Descripcion AS GeneroDescripcion
FROM Libro L
JOIN Genero G ON L.IdGenero = G.IdGenero
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuario]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListarUsuario]
AS
BEGIN
    SELECT * FROM Usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarVenta]
AS
BEGIN
    SELECT 
        V.IdVenta,
        V.Fecha,

        -- Cliente
        C.IdCliente,
        C.Nombre AS ClienteNombre,
        C.Genero AS ClienteGenero,
        C.Edad AS ClienteEdad,

        U.IdUsuario,
        U.Nombre AS VendedorNombre,

        Cu.IdCupon,
        Cu.Codigo AS CuponCodigo,
        Cu.Valor AS CuponValor,
        Cu.Activo AS CuponActivo

    FROM Venta V
    INNER JOIN Cliente C ON V.IdCliente = C.IdCliente
    LEFT JOIN Usuario U ON V.IdVendedor = U.IdUsuario
    LEFT JOIN Cupon Cu ON V.IdCupon = Cu.IdCupon
END
GO
/****** Object:  StoredProcedure [dbo].[login]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[login]
@Nombre nvarchar(100),
@HashedPassword nvarchar(100)
AS
BEGIN
	select * from usuario where Nombre = @Nombre and HashedPassword = @HashedPassword
END
GO
/****** Object:  StoredProcedure [dbo].[ModificacionCliente]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionCliente]
    @IdCliente INT,
    @Nombre VARCHAR(100),
    @Genero VARCHAR(100),
    @Edad INT
AS
BEGIN
    UPDATE Cliente
    SET Nombre = @Nombre,
        Genero = @Genero,
        Edad = @Edad
    WHERE IdCliente = @IdCliente;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionCupon]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificacionCupon]
    @IdCupon INT,
    @Codigo NVARCHAR(50),
    @Valor FLOAT,
    @Activo BIT
AS
BEGIN
    UPDATE Cupon
    SET Codigo = @Codigo,
        Valor = @Valor,
        Activo = @Activo
    WHERE IdCupon = @IdCupon;
END
GO
/****** Object:  StoredProcedure [dbo].[ModificacionDetalleVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionDetalleVenta]
    @IdVenta INT,
    @IdLibro INT,
    @Cantidad INT,
    @PrecioUnitario FLOAT
AS
BEGIN
    UPDATE DetalleVenta
    SET Cantidad = @Cantidad,
        PrecioUnitario = @PrecioUnitario
    WHERE IdVenta = @IdVenta AND IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionGenero]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionGenero]
    @IdGenero INT,
    @Descripcion VARCHAR(100)
AS
BEGIN
    UPDATE Genero
    SET Descripcion = @Descripcion
    WHERE IdGenero = @IdGenero;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionLibro]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificacionLibro]
    @IdLibro INT,
    @Titulo VARCHAR(100),
    @Autor VARCHAR(100),
    @IdGenero INT,
    @Precio FLOAT,
    @Stock INT
AS
BEGIN
    UPDATE Libro
    SET Titulo = @Titulo,
        Autor = @Autor,
        IdGenero = @IdGenero,
        Precio = @Precio,
        Stock = @Stock
    WHERE IdLibro = @IdLibro;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionUsuario]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModificacionUsuario]
    @IdUsuario INT,
    @Nombre VARCHAR(100),
    @HashedPassword VARCHAR(100) = NULL,
    @Rol INT,
	@IntentosRestantes INT
AS
BEGIN

select @HashedPassword = COALESCE(@HashedPassword, HashedPassword) from Usuario where IdUsuario = @IdUsuario;
    UPDATE Usuario
    SET Nombre = @Nombre,
        HashedPassword = @HashedPassword,
        Rol = @Rol,
		IntentosRestantes = @IntentosRestantes
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ModificacionVenta]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ModificacionVenta]
    @IdVenta INT,
    @Fecha DATETIME,
    @IdCliente INT,
    @IdVendedor INT
AS
BEGIN
    UPDATE Venta
    SET Fecha = @Fecha,
        IdCliente = @IdCliente,
        IdVendedor = @IdVendedor
    WHERE IdVenta = @IdVenta;
END;
GO
/****** Object:  StoredProcedure [dbo].[ReporteVentasGenerales]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ReporteVentasGenerales]
AS
BEGIN
    SELECT 
        V.IdVenta,
        V.Fecha,
        C.IdCliente,
        C.Nombre AS ClienteNombre,
        U.IdUsuario AS IdVendedor,
        U.Nombre AS VendedorNombre,
        V.IdCupon,
        CU.Codigo AS CuponCodigo,
        CU.Valor AS CuponValor
    FROM Venta V
    INNER JOIN Cliente C ON V.IdCliente = C.IdCliente
    INNER JOIN Usuario U ON V.IdVendedor = U.IdUsuario
    LEFT JOIN Cupon CU ON V.IdCupon = CU.IdCupon
    ORDER BY V.Fecha DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[RestarIntento]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RestarIntento]
@Nombre nvarchar(50)
AS
BEGIN

	Update Usuario set IntentosRestantes = (IntentosRestantes -1) where Nombre = @Nombre;
	select IntentosRestantes from usuario  where Nombre = @Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarCupon]    Script Date: 26/11/2025 16:27:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ValidarCupon]
    @Codigo NVARCHAR(50),
	@IdCliente int
AS
BEGIN
    SELECT TOP 1 *
    FROM Cupon C
    WHERE Codigo = @Codigo
      AND Activo = 1
	  AND NOT EXISTS (select 1 from Venta V where v.IdCliente = @IdCliente and v.IdCupon = C.IdCupon)
END
GO
USE [master]
GO
